{% extends "base.html" %}

{% load markdown_extras %}
{% load static %}

{% block header %}
    <h1 id="page-title">User Profile</h1>
{% endblock header %}

{% block content %}
    <main>
        <h2>{{ user.username }}</h2>
        <p>Last Online: {{ user.last_login|date:"Y-m-d" }}</p>
        {% if request.user == user %}Viewing own profile{% endif %}
        <h2>Groups</h2>
        <ul>
            {% for group in user.groups.all %}
                <li>{{ group.name }}</li>
            {% empty %}
                <li>
                    <div class="system-msg">No Groups</div>
                </li>
            {% endfor %}
        </ul>
        {% if request.user == user %}
            <a href="{% url 'user_drafts' pk=object.pk  %}" class="fbtn">My Drafts</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="fbtn" type="submit">Log Out</button>
                </form>
        {% else %}
            <a href="{% url 'user_drafts' pk=object.pk  %}" class="fbtn">View User&rsquo;s Drafts</a>
        {% endif %}
    </main>
{% endblock %}

{% block pagehead %}
    <link rel="stylesheet" href="{% static 'problemlist.css' %}">
{% endblock pagehead %}
