/* Regular Typeface */
@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-BlackItalic.woff2) format("woff2");
  font-weight: 900;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-ExtraBoldItalic.woff2) format("woff2");
  font-weight: 800;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}
@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-MediumItalic.woff2) format("woff2");
  font-weight: 500;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya";
  src: url(./fonts/Alegreya-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

/* Small Caps */

@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-BlackItalic.woff2) format("woff2");
  font-weight: 900;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-ExtraBoldItalic.woff2) format("woff2");
  font-weight: 800;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}
@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-MediumItalic.woff2) format("woff2");
  font-weight: 500;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}

@font-face {
  font-family: "Alegreya SC";
  src: url(./fonts/AlegreyaSC-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;

  unicode-range: U+000D-0525, U+1E08-20BD, U+2113-2199, U+2202-2265, U+25A0-25FC,
    U+26AB, U+27E8-27E9, U+2B1B-2B24, U+A78B-A78C, U+FB01-FB02;
}
