/* EDITOR Form styling */
/* Used in: create_problem, edit_problem */

select {
  font-size: 0.8em;
  font-family: sans-serif;
}
.select2-results__options,
.select2-selection__rendered {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  font-size: 0.8em;
}

#sourceBox {
  display: flex;
}
