/* STYLE SHEET FOR PROBLEM LISTS */
/* USED IN: problem_list, source_detail */

.small-heading {
  /* color: #494949; */
  color: var(--text-muted-color);
  font-size: 0.9em;
  margin-block: 1em;
  text-align: center;
}

.problem-list {
  & > ul > li {
    list-style: none;
  }
  & > ol,
  & > ul {
    display: flex;
    flex-direction: column;
    gap: 0.85em;
    & > li {
      min-height: 5ch;
      padding-left: 1em;
      border-left: 1px solid lightgray;
      &:hover {
        border-left: 2px solid lightgray;
        margin-left: -1px;
      }
    }
    & > li::marker {
      color: var(--text-muted-color);
      font-size: 0.8em;
    }
  }

  p {
    margin: 0;
    display: inline;
  }
  a {
    display: block;
    text-decoration: none;
  }
  mjx-container[display] {
    margin: 0.1em;
  }
  * + p {
    margin-top: 0.1em;
  }
}
