/* GLOBAL STYLE SHEET */

/* TODO rework dark colors */
:root {
  --text-color: light-dark(black, #fafafa);
  --text-muted-color: light-dark(gray, rgb(168, 168, 168));
  --background-color: light-dark(#fbfbfb, #0a0a0a);
  --background-primary-color: light-dark(#fefefe, #0f0f0f);
  --background-secondary-color: light-dark(#fefefe, #0f0f0f);
  --border-primary-color: light-dark(black, #2b2e30);
  --border-secondary-color: light-dark(gray, #1c1e1f);
  /* buttons and such should be styled with the following radius */
  --interact-border-radius: 3px;
}

/* Reset default styles */
/* prettier-ignore */
html, body, nav, p, div, h1, h2, h3, a, ul, ol, li {
  margin: 0;
  padding: 0;
}

* {
  font-variant-emoji: text;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  height: 100%;
  font-size: 18px;
  font-family: Palatino Linotype, Palatino LT STD, bitstream charter, charter,
    Georgia, serif;
  margin-inline: auto;
}

/* GRID LAYOUT */
/* Entire page layout is blocked out using CSS grid. */

/* @media (max-width: calc(15em + 650px + 8em +  8*1.2em)) {
  body > #gridContainer {
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "left"
      "left"
      "footer" !important;
  }
} */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-inline: auto;
}

div#outer-container {
  display: flex;
  flex-direction: column;
}

#flex-layout-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 1.2em;
}

#top-box {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
}
#spacer {
  max-width: 18em;
  width: 100%;
  height: 1px;
  background-color: red;
  display: block;
}

#sidebar {
  max-width: 18em;
  width: 100%;
  display: block;
}

#flex-layout-container > #center-column:has(.wide-main) {
  max-width: calc(650px + 30em);
}

#flex-layout-container > #center-column {
  width: 100%;

  max-width: calc(650px + 8em);
}

/* body > #gridContainer {
  display: grid;
  grid-template-columns: minmax(15em, 1fr) calc(650px + 8em) 1fr;
  grid-template-rows: repeat(6, min-content);
  row-gap: 0.1em;
  column-gap: 1.2em;
  grid-template-areas:
    ".      .        "
    ".      nav      "
    ".      header   "
    ".      .        "
    "left   main     "
    "left   footer   ";
}

main {
  width: 100%;
  grid-area: main;
}

#gridContainer > footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

#sidebar.left {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  grid-area: left;
}

header {
  width: 100%;
  grid-area: header;
  align-self: baseline;
} */

/* END GRID LAYOUT */

/* NAV */

nav {
  ul {
    row-gap: 0.25em;
    column-gap: 0.25em;
    list-style: none;
    li {
      background-color: var(--background-secondary-color);
      border: 1px solid var(--border-secondary-color);
      padding: 0.5em;
    }
  }
  a {
    color: var(--text-color);
    text-decoration-style: dotted;
    /* FUTURE WORK: Better font with small caps would look nice here */
    /* font-variant: small-caps; */
  }
}

button.link {
  background: none !important;
  padding: 0 !important;
  border: none;
  all: inherit;

  color: var(--text-color);
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

/* END NAV */

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2em;

  h1 {
    margin: 0;
    font-weight: 100;
    font-style: italic;
  }
  #problem-source-box {
    display: flex;
    justify-content: right;
    align-items: end;
    flex-direction: column;
    color: var(--text-muted-color);
  }
}

/* END HEADER */

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 1.23em;
}
h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.03em;
}

main {
  border: 1px solid var(--border-primary-color);
  background-color: var(--background-primary-color);
  padding-block: 2.5em;
  padding-inline: 4em;
}

mjx-container {
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  /* Exponents seem to be cut off by 1 pixel without this. Don't ask me why. I got tired of googling. */
  padding: 1px !important;
}

div:has(mjx-container) {
  width: 100%;
  height: 100%;
}

.doc h1,
.doc h2,
.doc h3 {
  margin-bottom: 1rem;
}

ul {
  list-style-position: inside;
}
main > ul {
  list-style-position: outside;
  /* margin-left: 2ch; */
  list-style: none;
}

main > ul > li {
  margin-bottom: 0.5rem;
  margin-left: 5ch;
}
main > ul > li::before {
  content: "•";
  position: absolute;
  margin-left: -5ch;
}

main > ul.slim > li {
  margin-bottom: 0.25rem;
}

main p,
.doc p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

main,
.doc {
  line-height: 1.4;
}

h1,
h2 {
  margin-top: 0px;
}

a {
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  color: var(--text-color);
}

a:hover {
  text-decoration-style: solid;
}

a[inert] {
  color: var(--text-muted-color);
  text-decoration: none;
}

div#unpublished-problem-warning {
  background-color: rgb(255, 255, 136);
  padding-block: 2em;
  text-align: center;
  margin-inline: -5em;
  border-block: 2px solid rgb(255, 247, 136);
  div {
    font-size: 1.5em;
  }
}

#sidebar-meta-container {
  line-break: anywhere;
  word-break: break-all;
  border: 1px solid var(--border-secondary-color);
  background-color: var(--background-secondary-color);
  padding-block: 2em;
  padding-inline: 1em;
  #meta-source-problem-list {
    li {
      list-style: disc;
    }
    #meta-current-problem-no {
      list-style: circle;
    }
    margin-bottom: 0.3em;
  }
  #next-prev-button-box {
    display: flex;
    justify-content: space-evenly;
    margin-block: 0.5em;
    margin-bottom: 0.6em;
    user-select: none;
  }
  #meta-sidebar-title {
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }

  a.button {
    min-width: 10ch;
    margin-bottom: -1.33em;
  }
  li {
    margin-left: 3ch;
    list-style-position: outside;
    list-style: circle;
  }
}

a.button {
  text-align: center;
  padding: 0.8ch;
  padding-inline: 1ch;
  border: 1px solid var(--text-muted-color);
  text-decoration-style: dotted;
}
a.button[inert] {
  border: 1px solid var(--border-secondary-color);
}

details:not([open]) summary h2::after {
  content: "(click to reveal)";
  font-size: 0.8rem;
  margin-inline-start: 1em;
  color: var(--text-muted-color);
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

#edit-box {
  a {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--text-muted-color);
    &:hover {
      color: var(--text-color);
    }
  }
  user-select: none;
}

/* UTILITY CLASSES */

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }

  &.j-between {
    justify-content: space-between;
  }
  &.j-around {
    justify-content: space-around;
  }
  &.j-evenly {
    justify-content: space-evenly;
  }
  &.j-center {
    justify-content: center;
  }
  &.j-right {
    justify-content: right;
  }
  &.j-left {
    justify-content: left;
  }
  &.a-center {
    align-items: center;
  }
}

.borderunder {
  border-bottom: 1px solid var(--text-muted-color);
}

.hidden {
  display: none;
}

.muted {
  color: var(--text-muted-color);
}

.noselect {
  user-select: none;
}

a.incognito {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* END UTILITY CLASSES */

.example {
  border: 1px solid var(--border-secondary-color);
  margin-bottom: 1em;
}
