/* GLOBAL STYLE SHEET */

/* Reset default styles */
/* prettier-ignore */
html, body, nav, p, div, h1, h2, h3, a, ul, ol, li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 120%;
  font-family: Palatino Linotype, Palatino LT STD, bitstream charter, charter,
    Georgia, serif;
}

body {
  height: 100%;
  background-color: #fbfbfb;
  color: black;
}

/* GRID LAYOUT */
/* Entire page layout is blocked out using CSS grid. */
/* This is to avoid ugly css hacks*/
body {
  display: grid;
  grid-template-columns: 1fr calc(650px + 10em) 1fr;
  grid-template-rows: repeat(5, min-content);
  row-gap: 0.1em;
  column-gap: 1.2em;
  grid-template-areas:
    ".      .        .    "
    "nav    header   authbar"
    ".      l-over   .    "
    "left   main     right"
    "left   r-over   right";
}

main {
  width: 100%;
  grid-area: main;
}

nav {
  grid-area: nav;
}

#sidebar.right {
  width: 100%;
  grid-area: right;
}
#sidebar.left {
  justify-content: right;
  grid-area: left;
}

header {
  width: 100%;
  grid-area: header;
  align-self: baseline;
}

#authbar {
  grid-area: authbar;
}

/* END GRID LAYOUT */

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1em;
    li {
      background-color: #ffffff;
      border: 1px solid lightgray;
      padding: 0.5em;
    }
  }
  a {
    color: black;
    text-decoration-style: dotted;
    /* FUTURE WORK: Better font with small caps would look nice here */
    /* font-variant: small-caps; */
  }
}
#authbar {
  display: flex;
  align-items: center;
  justify-content: left;
  div {
    display: flex;
    justify-content: center;
    gap: 1em;
    div {
      background-color: #ffffff;
      border: 1px solid lightgray;
      padding: 0.5em;
      color: black;
    }
  }
  a {
    text-decoration-style: dotted;
    color: black;
  }
  button {
    background: none !important;
    padding: 0 !important;
    border: none;

    font-family: inherit;
    font-size: inherit;
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
  }
}

h1,
h2,
h3 {
  font-size: x-large;
  font-weight: 500;
  margin-block: 0.5em;

  text-decoration: dashed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2em;

  h1 {
    margin: 0;
    font-style: italic;
  }
  #problem-source-box {
    text-align: right;
    color: gray;
  }
}

main {
  border: 1px solid black;
  background-color: #fefefe;
  padding-block: 1em;
  padding-inline: 5em;
}

mjx-container {
  overflow-x: scroll;
  /* Exponents seem to be cut off by 1 pixel without this. Don't ask me why. I got tired of googling. */
  padding: 1px !important;
}

ul {
  list-style-position: inside;
}

p {
  margin-bottom: 0.6em;
  line-height: 1.55;
}

.muted {
  color: gray;
}

a {
  text-decoration-style: dotted;
  color: black;
}

a[inert] {
  color: gray;
  text-decoration: none;
}

.flex-right {
  display: flex;
  justify-content: right;
}

.hidden {
  display: none;
}

div#unpublished-problem-warning {
  background-color: rgb(255, 255, 136);
  padding-block: 2em;
  text-align: center;
  margin-inline: -5em;
  border-block: 2px solid rgb(255, 247, 136);
  div {
    font-size: 1.5em;
  }
}

#sidebar-meta-container {
  width: 15em;
  line-break: anywhere;
  word-break: break-all;
  border: 1px solid gray;
  padding-block: 1em;
  padding-inline: 0.5em;
  #meta-source-problem-list {
    li {
      list-style: disc;
    }
    #meta-current-problem-no {
      list-style: circle;
    }
    margin-bottom: 0.3em;
  }
  #next-prev-button-box {
    display: flex;
    justify-content: space-evenly;
    margin-block: 0.5em;
    margin-bottom: 0.6em;
  }
  #meta-sidebar-title {
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }

  #meta-sidebar-title:is(* + #meta-sidebar-title) {
    margin-block: 0.2em;
  }

  a.button {
    min-width: 10ch;
  }
  li {
    margin-left: 3ch;
    list-style-position: outside;
    list-style: circle;
  }
}

a.button {
  text-align: center;
  padding: 0.8ch;
  padding-inline: 1ch;
  background-color: rgb(228, 228, 228);
  border: 1px solid lightgray;
  text-decoration-style: dotted;
}
a.button[inert] {
  border: 1px solid white;
}

details:not([open]) summary h2::after {
  content: "(click to reveal)";
  font-size: 0.58em;
  margin-inline-start: 1em;
  color: gray;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

#problem-edit-box {
  position: absolute;
  span {
    position: relative;
    right: 5em;
    top: -1em;
  }
  a {
    font-size: 1.5em;
    text-decoration: none;
  }
}
