{% extends "base.html" %}

{% load static %}

{% block pagehead %}
<script  type="module" src="{% static 'problemeditor.js' %}"></script>
<link rel="stylesheet" href="{% static 'formstyle.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock pagehead %}

{% block content %}

<header>
    <h1 id="page-title">
       Create Problem
    </h1>
</header>




<main>

    <form method="post">
        {% csrf_token %}
        <h2>Metadata</h2>
        <div class="fieldWrapper">
            {{ problem_form.source.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ problem_form.number.as_field_group }}
        </div>
        {{ problem_form.non_field_errors }}
        <div class="fieldWrapper">
            {{ problem_form.problem_text.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ problem_form.answer_text.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ problem_form.categories.as_field_group }}
        </div>

        <div class="fieldWrapper">
            {{ problem_form.pub_date.as_field_group }}
        </div>

        <h2>Solution</h2>

        {{ solution_form.non_field_errors }}
        <div class="fieldWrapper">
            {{ solution_form.solution_text.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ solution_form.techniques.as_field_group }}
        </div>

        <button  type="submit">Publish</button>
    </form>
</main>
{% endblock content %}


