{% extends "base.html" %}

{% block header %}
    <h1 id="page-title">Editor</h1>
{% endblock header %}

{% block content %}
    <main>
        <h2>Create</h2>
        <ul>
            <li>
                <a href="{% url 'problem_create' %}">New Problem</a>
            </li>
            <li>
                <a href="{% url 'source_create' %}">New Source</a>
            </li>
            <li>
                <a href="{% url 'sourcegroup_create' %}">New Source Group</a>
            </li>
            <li>
                <a href="{% url 'missing_problems' %}">Missing Problems</a>
            </li>
        </ul>
    </main>
{% endblock content %}
