{% extends "base.html" %}

{% load static %}

{% block pagehead %}
<script  type="module" src="{% static 'problemeditor.js' %}"></script>
<link rel="stylesheet" href="{% static 'formstyle.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock pagehead %}

{% block content %}

<header>
    <h1 id="page-title">
       Edit Problem
    </h1>
</header>




<main class="wideMain">



    <form method="post">
        {% csrf_token %}
        <div id="sourceBox">
            <div class="fieldWrapper" id="sourceInput">
                {{ problem_form.source.as_field_group }}
            </div>
            <div class="fieldWrapper" id="numberInput">
                {{ problem_form.number.as_field_group }}
            </div>
        </div>
        {{ problem_form.non_field_errors }}
        <div class="fieldWrapper">
            {{ problem_form.problem_text.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ problem_form.answer_text.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ problem_form.categories.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ problem_form.types.as_field_group }}
        </div>

 
        <h2>Solutions</h2>

        {% for solution_form in solution_forms %}
        <div class="solutionWrapper" data-solution-no="{{ solution_form.x_form_no }}">


            {{ solution_form.non_field_errors }}

            <div class="fieldWrapper">
                {{ solution_form.solution_text.as_field_group }}
            </div>
            <div class="fieldWrapper">
                {{ solution_form.techniques.as_field_group }}
            </div>
            <a href="{% url 'solution_delete' pk=solution_form.instance.id %}" target="_blank">Delete</a>

        </div>
        {% endfor %}


        <input type="number" style="display: none;" name="additional_solutions" id="additional_solutions" value="0">


        <button type="button" id="newSolutionButton">New Solution</button>

        <button  type="submit">Publish</button>
    </form>
</main>

<div style="display: none;" id="dummySolutionHolder">
    <div class="solutionWrapper">
        {{ dummy_solution.non_field_errors }}

        <div class="fieldWrapper">
            {{ dummy_solution.solution_text.as_field_group }}
        </div>
        <div class="fieldWrapper">
            {{ dummy_solution.techniques.as_field_group }}
        </div>
    </div>
</div>

{% endblock content %}


