{% extends "base.html" %}

{% block header %}
    <header>
        <h1 id="page-title">{{ user.username }}&rsquo;s Drafts</h1>
    </header>
{% endblock %}

{% block content %}
    <main>
        <h2>Problem Drafts</h2>
        {% for d in draft_problems %}
        <div>
            {{ d }}
        </div>
        {% empty %}
        <p class="muted">(No draft problems)</p>
        {% endfor %}
        <h2>Source Drafts</h2>
        {% for d in draft_sources %}
        {{ d }}
        {% empty %}
        <p class="muted">(No draft sources)</p>
        {% endfor %}
    </main>
{% endblock content %}
