{% load static %}
<!DOCTYPE html>
  
<html lang="en">
  <head>
    <title>Math Problem Site</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      window.MathJax = {
      loader: {load: ['[tex]/cancel']},
  tex: {

    inlineMath: [ ["\\(","\\)"] ],
    displayMath: [ ["\\[","\\]"] ],
    processEscapes: true,
    processEnvironments: true,
    packages: {'[+]': ['cancel']}
  },
  options: {
    ignoreHtmlClass: ".*",
    processHtmlClass: "arithmatex"
  }
};
    </script>
    {% block pagehead %} {% endblock pagehead %}
  </head>

  <body>
    <span id="gridContainer">

    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'problem_list' %}">Problems</a>
        </li>
        <li>
          <a href="{% url 'source_list'%}">Sources</a>
        </li>
        {% if user.is_authenticated %}
        <li>  
          <a href="{% url 'my_profile' %}">{{ user.username }}</a> 
        </li>
        <li>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="link" type="submit">Log Out</button>
        </form>
        </li>
        <li>
          <a href="{% url 'editor_home' %}">+</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">Log In</a>
        </li>
        {% endif %}
      </ul>
    </nav>
      {% block content %} {% endblock content %}
  </span>

    </body>
</html>
