{% extends "base.html" %} {% block content %}
{% load markdown_extras %}

<header>
    <h1 id="page-title">{{problem.source.name}}</h1>
    <div id="problem-source-box">
        {% if problem.source.subtitle %}
        <div id="problem-source-subtitle">{{ problem.source.subtitle }}</div>
        {% endif %}
        <div id="problem-number">
            {% if problem.number %}
                Problem &numero;
                {{problem.number}}.
            {% endif %}
        </div>
    </div>
</header>

<main>
    {% if user.is_authenticated %}
    <span id="problem-edit-box">
        <span>
            <a href="{% url 'edit_problem' pk=problem.pk %}" title="Edit">✐</a>
            <a href="{% url 'delete_problem' pk=problem.pk %}" title="Delete">␥</a>
        </span>
    </span>
    {% endif %}

    {% if not problem.is_published %}
    <div id="unpublished-problem-warning">
        <div>
            This is a draft which is only visible to logged-in users

        </div>
    </div>
    {% endif %}

    <h1>Problem Statement</h1>    
    {{ problem.problem_text | markdown | safe  }}
    
    {% for solution in problem.solutions.all %}    
    <details>
    <summary><h2>Solution {% if problem.solutions.all|length != 1 %}{{ forloop.counter }}{% endif %}</h2></summary>
    {{ solution.solution_text | markdown | safe  }}
    </details>
    {% endfor %}

    <details>
    <summary><h2>Answer</h2></summary>    
    {{ problem.answer_text | markdown | safe  }}
    </details>
</main>
   
    
<div id="sidebar" class="left">
    <div id="sidebar-meta-container">

    {% if problem.source.pk == problem.source.get_default_pk %}
    
    {% else %}
    <div id="meta-sidebar-title">
        Other Problems
    </div>

    <ol id="meta-source-problem-list">
        {% for p in problem.source.get_problems %}

        <li value="{{p.number}}"{% if p.number == problem.number %} id="meta-current-problem-no"{% endif %}>
        <a href="{{ p.get_absolute_url }}" {% if p.number == problem.number %}inert{% endif %}>Problem {{ p.number }}</a>
        </li> 
        {% endfor %}
    </ol>
    <div>
    <a href="{{ problem.source.get_absolute_url }}">View Source</a>
    </div>

    <div id="next-prev-button-box">
        <a href="{{ problem.get_prev.get_absolute_url}}" class="next button" {%if problem.get_prev.get_absolute_url is None%}inert{%endif%}>Previous</a>
        <a href="{{ problem.get_next.get_absolute_url}}" class="prev button" {%if problem.get_next.get_absolute_url is None%}inert{%endif%}>Next</a>
    </div>
    {% endif %}
       

    {% if problem.categories.all|length != 0%}
    <div id="meta-sidebar-title">
        {% if problem.categories.all|length != 1%}
        Categories:
        {% else %}
        Category:
        {% endif %}
    </div>


    <ul id="meta-problem-categories">
        {% for category in problem.categories.all %}
        <li>
            {{ category }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if problem.techniques|length != 0%}
    <div id="meta-sidebar-title">
        {% if problem.techniques|length != 1%}
        Techniques:
        {% else %}
        Technique:
        {% endif %}
    </div>
    <ul id="meta-problem-techniques">
        {% for technique in problem.techniques %}
        <li>
            {{ technique }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
</div>


{% endblock content %}