{% extends "base.html" %} {% block content %}
{% load markdown_extras %}
<header>
    <h1 id="page-title">
        {{sourcegroup.name}}
    </h1>
</header>

<main>
    <h2>Description</h2>
    {% if sourcegroup.description %}
        {{ sourcegroup.description | markdown | safe }}
    {% else %}
        <p class="muted">
            (this source group has no description)
        </p>
    {% endif %}
    <a href="{{sourcegroup.url}}">Source URL</a>
    <ul>
        {% for source in sourcegroup.sources.all %}
        <li>
            <a href="{{ source.get_absolute_url }}">
                {{source.name}}                
            </a>
        </li>
        {% endfor %}
    </ul>
</main>

{%endblock%}