{% extends "base.html" %}

{% load markdown_extras %}
{% load problem_list %}
{% load static %}
{% load utility %}

{% block after_nav %}
{% include "includes/draft_detail_header.html" %}
{% endblock %}

{% block header %}
    <h1 id="page-title">
        {% if source.name %}
            {{ source.name }}
        {% else %}
            <span class="system-msg">unnamed</span>
        {% endif %}
        </h1>
{% endblock header %}

{% block subtitle %}
    {% if source.subtitle %}<div id="problem-source-subtitle">{{ source.subtitle }}</div>{% endif %}
{% endblock %}

{% block pagehead %}
    <link rel="stylesheet" href="{% static 'problemlist.css' %}">
{% endblock pagehead %}

{% block content %}
    <main class="doc">
        <div class="flex row j-between a-center">
            <h2>Description</h2>
            {% if user.is_authenticated %}
                <span class="aside-links">

                    {% if object.is_draft %}
                        <a href="{% url 'draft_source_edit' pk=object.id %}" title="Edit">✐</a>
                    {% else %}
                        <a href="{% url 'fork_source' slug=object.slug %}" title="Edit">✐</a>
                    {% endif %}
                    <a href="{{ object|admin_edit_url }}" class="admin-action">🕴</a>
                </span>
            {% endif %}
        </div>
        {% if source.description %}
            {{ source.description | markdown | safe }}
        {% else %}
            <p class="system-msg">no description</p>
        {% endif %}
        {% if source.parent %}
            <p>
                This source is part of the series <i><a href="{{ source.parent.get_absolute_url }}">{{ source.parent }}</a></i>.
            </p>
        {% endif %}
        <h2>Metadata</h2>
        <ul>
            <li>
                Published:&nbsp;
                {% if source.publish_date %}
                    {{ source.publish_date }}
                {% else %}
                    <span class="system-msg">unknown</span>
                {% endif %}
            </li>
            <li>
                {% if source.url %}
                    <a href="{{ source.url }}">Source URL</a>
                {% else %}
                    <span class="system-msg">No URL available</span>
                {% endif %}
            </li>
            <li>
                Total problems:
                {% if source.problem_count %}
                    {{ source.problem_count }}
                {% else %}
                    <span class="system-msg">unknown</span>
                {% endif %}
            </li>
        </ul>
        <div class="flex j-between a-center">
            <h2>Problems</h2>
            <span class="aside-links">
                {% if not source.is_draft %}
                <a href="{% url 'missing_problem' slug=source.slug %}"
                   title="View missing problems">+</a>
                {% endif %}
                </span>
        </div>
        {% problem_list source.get_problems ord="true" %}
        </main>
    {% endblock %}
