{% extends "base.html" %} {% block content %}
{% load markdown_extras %}
{% load static %}



<header>
    <h1 id="page-title">{{source.name}}</h1>
    {% if source.subtitle %}
    <div id="problem-source-box">
        <div id="problem-source-subtitle">{{ source.subtitle }}</div>
    </div>
    {% endif %}
</header>

<main>

    <h2>Description</h2>

    {% if source.description %}
        {{ source.description | markdown | safe }}
    {% else %}
        <p class="muted">
            (this source has no description)
        </p>
    {% endif %}

    {% if source.parent %}
    <p>
        This source is part of the series <i><a href="{{source.parent.get_absolute_url}}">{{source.parent}}</a></i>.
    </p>
    {% endif %}

    <h2>Problems</h2>

    {% if source.problems.all|length != 0%}
    <div id="problem-list">

        <ol>
            {% for problem in source.get_problems %}
            <li value="{{problem.number}}" >
                <a href="{{problem.get_absolute_url}}">
                    {{ problem.problem_text | markdown | safe}}
                </a>
            </li>
            {% endfor %}
        </ol>
    </div>
    {% else %}
    <p class="muted">
        (this source has no problems assigned to it yet)
    </p>
    {% endif %}

    <h2>Metadata </h2>

    <ul>
        <li>Published:&nbsp;
            {% if source.publish_date %}
            {{source.publish_date}}
            {% else %}
            <span class="muted">Unknown</span>
            {% endif %}
        </li>
        <li>{% if source.url %}
            <a href="{{source.url}}">Source URL</a>
            {% else %}<span class="muted">No URL available</span>
            {% endif %}

        </li>
    </ul>


</main>

{%endblock%}

{% block pagehead %}
<link rel="stylesheet" href="{% static 'problemlist.css' %}">
{% endblock pagehead %}