{% extends "base.html" %}
{% block header %}
    <h1 id="page-title">
       Sources
    </h1>
    {% endblock header %}
    
    
{% block content %}
{% load markdown_extras %}

{% regroup source_list by parent as grouped_sources  %}
<main class="doc"> 
    <ul class="slim">
        {% for source_group,sources in grouped_sources %}
        <h2>
            {% if source_group %}
                {{source_group}}
            {% else %}
                Other
            {% endif %}
        </h2>

        {% for source in sources %}
        <li>
            <a href="{{ source.get_absolute_url }}">
                {{ source.full_name }}
            </a>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</main>
{% endblock content %}

