{% extends "base.html" %}

{% load static %}
{% load markdown_extras %}
{% load problem_list %}

{% block pagehead %}
    <link rel="stylesheet" href="{% static 'history_style.css' %}">
    <script>
      window.MathJax = {
      loader: {load: ['[tex]/cancel']},
  tex: {

    inlineMath: [ [], []],
    displayMath: [ [], [] ],

  },
};
    </script>
{% endblock pagehead %}

{% block header %}
    <h1 id="page-title">
        <a class="incognito" href="{{ problem.source.get_absolute_url }}">{{ problem.source.name }}</a>
    </h1>
{% endblock header %}

{% block subtitle %}
    {% if problem.source.subtitle %}<div id="problem-source-subtitle">{{ problem.source.subtitle }}</div>{% endif %}
    {% if problem.number %}<div id="problem-number">Problem &numero; {{ problem.number }}.</div>{% endif %}
{% endblock %}

{% block content %}
    <main class="doc">
        <h2>Problem History</h2>
        {% if diffs %}
            <history-box>
            <ul>
                {% for h in diffs %}
                    <li>
                        <history-marker></history-marker>
                        <history-contents>
                        <history-top>
                        <history-edit-icon>{{ h.history.history_type }}</history-edit-icon>
                        <history-edit-name>
                        {% if h.history.history_type == "+" %}
                            Created
                        {% elif h.history.history_type == "~" %}
                            Edited
                        {% elif h.history.history_type == "-" %}
                            Deleted
                        {% else %}
                            Unknown action
                        {% endif %}
                        </history-edit-name>
                        <history-inline-text>by</history-inline-text>
                        <history-user class="muted">{{ h.history.history_user }}</history-user>
                        <history-time>{{ h.history.history_date|date:"y/m/d g:mA" }}</history-time>
                        </history-top>
                        <history-bottom>
                        {% if h.diff %}
                            <history-changed>
                            Changed
                            {{ h.diff.changed_fields }}
                            </history-changed>
                        {% endif %}
                        <history-changed>
                        {% for hist_solution in h.solutions %}{{ hist_solution }}{% endfor %}
                        </history-changed>
                        </history-bottom>
                        </history-contents>
                    </li>
                {% endfor %}
            </ul>
            </history-box>
        {% else %}
            <p class="muted">(No History)</p>
        {% endif %}
    </main>
{% endblock content %}
